@import "../var";

.gallery {
  overflow: auto;
  height: 100%;
  max-width: 100%;
  // @include pixel-bg($halftone-window);
  // background-color: white;
  // background-color: $color-grey-shadow;
}

.img-container {
  width: 50rem;
  height: 73rem;
  margin:auto;
  .bar {
    width: 100%;
  }
}

.img-view {
  height: 70rem;
  border: $border;
  border-top: none;
  background-color: $yellow-flash;
  padding: 2rem;
  font-family: $font-sans;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  // @include pixel-bg($halftone-window);


  h1 {
    font-size: 8.5rem;
    color: $yellow-flash;
    background-color: black;
  }

  .box-container {
    display: flex;
    justify-content: space-between;
  }

  .box-left {
    margin-top: 0.75rem;
    border: 5px solid black;
    transform: rotate(-5deg);
    display: inline-block;
    padding: 0.5rem;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.8);

    p.date {
      font-size: 6rem;
    }

    p.month {
      font-size: 3rem;
    }
  }

  .second-container {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .box-right {
      right: 0;

    p.where {
      font-size: 2.25rem;
      margin-top: 2rem;
    }

    p.msg {
      margin-top: 1.5rem;
      font-weight: 600;
      font-size: 1.25rem;
    }
}

  h2 {
    font-size: 7.5rem;
    font-style: normal;
  }
  h2:first-of-type {
    margin-top: 2rem;
  }

  h2.huge {
    font-size:10.25rem;
    line-height:7rem;
  }

  a {
    font-weight: 600;
    font-size: 1.25rem;
    color:black;
  }

  .text-render {
    background-color: black;
    color: $yellow-flash;
    line-height: 1.25;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding-top: 0.25rem;
    padding-bottom: 1rem;

    p:first-child {
      font-size: 4rem;
    }

    p:nth-child(2) {
      font-size: 3rem;
    }

    p:nth-child(3) {
      font-size: 2rem;
    }

    p:last-child {
      font-size: 1.5rem;
    }
  }

    .end-content {
      margin-top: 1.5rem;

      p {
        font-size: 1.5rem;
      }
    }
}
