@import "../var";

section#home-section {
  display: flex;
  @include phone {
    flex-direction: column;
  }
  @include screen {
    justify-content: flex-end;
  }
}

#conky {
  padding: 1rem;
  color: $color-light;
  line-height: $terminal-line-height;
  @include screen {
    max-width: 40rem;
    width: 50%;
  }

  .window {
    margin-bottom: 1rem;
    background-color: $color-dark;
    padding: 1.5rem;
  }

  a {
    color: $blue;
  }

  h4 {
    display: flex;
    justify-content: flex-end;

    span {
      padding: 0.2rem 1rem;

      background-color: $color-white;
      color: $color-black;
      font-weight: bold;
    }
  }

  .process {
    background-color: $color-cli;
    color: $color-black;
    padding: 0 1rem;
  }

  .tab {
    margin-left: 1rem;

  }

  .number {
    color: $blue;
  }
}

#background {
  width: 100%;
  height: 100%;
  color: $color-white;
  @include screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5rem;
  }
  @include phone {
    // align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    @include phone {
      background-color: black;
      padding: 0.4rem 1rem;
    }
    @include screen {
      margin-left: 0.15rem;

      span {
        background-color: $color-black;
        padding: 0.4rem 1rem;
      }
    }

  }

  h3 {
    font-size: 12vw;
    white-space: nowrap;
    @include phone {
      display: none;
    }

    span {
      position: relative;
      z-index: -1;
      bottom: 7.5vw;
      right: 7.5vw;
      font-size: 1.5vw;
    }
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    @include phone {
      color: $color-black;
      background-color: $color-white;
      padding: 0.2rem 1rem;
    }
    @include screen {
      margin-top: 0.8rem;
      margin-left: 0.15rem;

      span {
        color: $color-black;
        background-color: $color-white;
        padding: 0.2rem 1rem;;
      }
    }
  }
}
