@import "../var";

.map {
  .split {
    @include screen {
      .container, .txt {
        width: 50%;
      }
      .txt {
        overflow: auto;
        & > :last-child {
          margin-bottom: 2rem;
        }
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
  }


  .txt {
    font-family: $font-pixel;
    font-size: 25px;
    background-color: $color-white;
    padding: 2em;
    @include phone {
      font-size: 20px;
      padding: 1.2em;
    }

    h2, h4 {
      font-weight: bold;
      padding: 1rem;
    }

    h2 {
      background-color: $color-main;
      color: $color-white;
      margin-bottom: 2em;
    }

    h4 {
      display: inline-block;
      background-color: $orange;
      margin-bottom: 1em;

      &:not(:first-of-type) {
        margin-top: 1em;
      }
    }

    & > ul, p {
      margin-bottom: 1em;
    }
    ul p {
      margin: 0;
    }

    .adress {
      margin: 0.3em 0 0 1em;
      color: $color-grey-medium;
    }
    .place {
      text-decoration: underline;
    }
    .desc {
      margin-top: 0.5em;
    }

    li ul li {
      &::before {
        content: "> ";
      }
      margin-top: 0.5em;
      margin-left: 2rem;
    }

    & > ul > li {
      &:not(:first-of-type){
        margin-top: 2rem;
      }
      &:last-of-type {
        margin-bottom: 2rem;
      }
    }
  }
}

#map {
  overflow: hidden;
  .container {
    height: calc(100% - 3rem);
  }
  img {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
  }
}
