@import "../var";

// ┌─╮╭─╮┌─╮╷ ╷┌─╮
// ├─╯│ │├─╯│ │├─╯
// ╵  ╰─╯╵  ╰─╯╵

.popup {
  font-family: $font-sans;
  border-top-left-radius: $border-rad-button;
  border-top-right-radius: $border-rad-button;

  .bar {
    height: 2rem;
    background-color: $color-black;
    border: none;
  }

  .content {
    padding: 1.5rem;
    border: $border;
  }

  .sub-content {
    padding: 1rem;
    margin-top: 1rem;
    background-color: $color-white;

    h3 {
      font-weight: bold;
    }
  }

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

#legal {
  width: 100%;
    height: 100%;

  .content {
    height: 100%;
  }

  @media (min-width: 550px) {
    height: auto; width: 40rem;
    margin-top: 5%;
    margin-left: calc(50% - 20rem);
  }

  .sub-content {
    overflow-y: scroll;
    height: 15rem;
    font-family: $font-mono;
    font-size: 0.9rem;
    border: $border;


    h3 {
      margin-bottom: 0.5rem;

      &:not(:first-child) {
        margin-top: 2rem;
      }
    }
    p {
      margin-bottom: 0.5rem;
    }

    p:last-child {
      padding-bottom: 1rem;
    }
  }

  button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-family: $font-mono;
    background-color: $color-white;
    border: $border;
    border-radius: $border-rad-button;
  }
}
