@import "../var";

.spreadsheet {
  background-color: $color-white;
  color: black;
  @include phone {
    overflow: hidden;
  }

  .content {
    padding: 0;
    line-height: 2rem;
    height: calc(100% - 3rem);
    @include phone {
      overflow: auto;
    }

    table {
      width: 100%;
      height: 100%;
      table-layout: fixed;
      border-spacing: 0px 0px;
      @include phone {
        width: 100rem;
        overflow: auto;
      }
    }

    table, thead, th, tr, td {
      border:1px solid black;
      border-collapse: collapse;
      vertical-align: middle;
      text-align:center;
    }
    caption {
      height: 2rem;
    }

    thead th:first-child {
      background-color: $color-white;
    }

    th {
      @include pixel-bg($halftone-window);
      span {
        background-color: $color-white;
        padding: 0.5rem 1rem;
        font-weight: bold;
      }
    }
    .first {
      @include phone {
        width: 8rem;
      }
      @include screen {
        min-width: 15rem;
      }

    }
    td p {
      background-color: $orange;
    }

  }
}
