@import "../var";

.term {
  line-height: $terminal-line-height;
  font-family: $font-mono;
  background-color: $color-dark;
  color: $color-light;

  .split-content .ascii {
    margin: 2rem 0;
    @media (min-width: 600px) {
      margin-right: 4rem;
    }
  }

  .split-content {
    @media (min-width: 600px) {
      display: flex;
      align-items: center;
    }
  }

  .folder, .folder a {
    color: $yellow;
  }
  &.invert  {
    .folder, .folder a {
      color: $color-main;
    }
  }

  .result p {
    white-space: pre-wrap;
  }

  .ascii p {
    white-space: pre;
  }

  .ps1:not(:first-of-type) {
    margin-top: 2rem;
  }

  .tree {
    padding: 1rem;

    a {
      color: $color-white;
    }

    li {
      padding: 0.2rem 1rem;
      border: 2px solid $color-grey-shadow;

      &:not(:last-of-type) {
        border-bottom: none;
      }

      &.selected {
        border-color: $orange;
        background-color: $orange;
        color: $color-black;

        a {
          color: $color-black;
        }

      }
    }

    h1 {
      margin-bottom: 1rem;
    }
  }
}

.mail {
  .content {
    padding: 0.5rem;
    margin: 1rem;
    border: 2px solid $color-grey-shadow;

    h2 {
      margin-top: 1rem;
      color: $orange;
    }
    ul {
      margin-bottom: 2rem;
      border-bottom: 2px solid $orange;
    }

    p {
      margin: 1rem 2rem;
    }
  }
}

#vim-like {
  .window {
    display: flex;
  }
  a:hover, a:focus {
    background-color: $orange;
    color: $color-black;
    padding: 0.2rem 1rem;
  }

  ul.tree-view {
    min-width: 22rem;
    padding: 2rem;
    color: $color-black;
    background-color: $color-white;
    border-right: 1px solid black;

    @include phone {
      display: none;
    }

    a {
      color: $color-black;

      &::before {
        content: "> ";
      }
    }

    ul li {
      margin-left: 2rem;
    }
  }

  .content {
    color: $color-white;
    mark {
      color: $orange;
      background-color: inherit;
    }
    span {
      color: $color-grey-medium;
    }
    h1, h2, h3 {
      font-weight: bold;
    }
    h1, h2, h3, dt, dd, .span {
      display: inline;
    }
    .list {
      margin-top: 1rem;
    }
    i {
      font-style: italic;
    }
    dt {
      text-decoration: underline;
    }

    .function, p {
      margin: 1rem 0;
    }
    .var {
      margin-bottom: 0;
    }
    .f-content, li, dl {
      margin-left: 2rem;
      @include phone {
        margin-left: 1rem;
      }
    }
    .comment {
      color: $color-grey-shadow;
      margin: 0 0 0 2rem;
    }
  }
}

#neofetch {
  ul {
    margin-left: 2rem;
  }
  .ascii {
    color: $color-white;
  }
}

#sponsors {
  .ascii {
    margin-bottom: 4rem;
    margin-top: 2rem;
    color: $color-white;
    p {
      @media (max-width: 880px) {
        font-size: 1vw;
        line-height: 1.2vw;
      }
    }
  }

  .folder {
    margin-top: 2rem;
  }
}

#man {
  .content {
    line-height: 1.5rem;
    padding-left: 1rem;

    h1 {
      margin-bottom: 1rem;
      text-align: center;
    }

    h2, a, b {
      color: $color-white;
    }
    h2, b {
      font-weight: bold;
    }

    p, ul {
      margin-left: 4rem;
      @include phone {
        margin-left: 2rem;
      }
    }

    li::before {
      content: "-";
    }
  }
}
