%nav.noselect{ "aria-label":"RMLL 2018" }
  %ul#main-menu{ role:"menubar", "aria-label":"RMLL 2018" }
    %li{ role:"none" }
      = link_to "↗", rmll_path, { id:"home", role:"menuitem", "aria-label":t("menu.home"), tabindex:0 }
    %li
      %a{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false", tabindex:-1 }
        = t("menu.program")
      %ul{ role:"menu", "aria-label":t("menu.program") }
        %li{ role:"none" }
          = link_to t("menu.presentation"), rmll_path(:heading => "program", :page => "presentation"), { role:"menuitem", tabindex:-1 }
        %li{ role:"none" }
          = link_to t("menu.calendar"), rmll_path(:heading => "program", :page => "calendar"), { role:"menuitem", tabindex:-1 }
        -# %li{ role:"none" }
        -#   %a{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false", tabindex:-1 } gou
        -#   %ul{ role:"menu", "aria-label":"plusplus" }
        -#     %li{ role:"none" }
        -#       = link_to "lol", "#", { role:"menuitem", tabindex:-1 }
        -#     %li{ role:"none" }
        -#       = link_to "yolo", "#", { role:"menuitem", tabindex:-1 }
    %li
      %a{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false", tabindex:-1 }
        = t("menu.village")
      %ul{ role:"menu", "aria-label":t("menu.village") }
        %li{ role:"none" }
          = link_to t("menu.cfb"), rmll_path(:heading => "village", :page => "cfb"), { role:"menuitem", tabindex:-1 }
    %li
      %a{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false", tabindex:-1 }
        = t("menu.info")
      %ul{ role:"menu", "aria-label":t("menu.info") }
        %li{ role:"none" }
          = link_to t("menu.map"), rmll_path(:heading => "info", :page => "map"), { role:"menuitem", tabindex:-1 }
        %li{ role:"none" }
          = link_to t("menu.access"), rmll_path(:heading => "info", :page => "access"), { role:"menuitem", tabindex:-1 }
        %li{ role:"none" }
          = link_to t("menu.lodging"), rmll_path(:heading => "info", :page => "lodging"), { role:"menuitem", tabindex:-1 }
        %li{ role:"none" }
          = link_to t("menu.food"), rmll_path(:heading => "info", :page => "food"), { role:"menuitem", tabindex:-1 }
        %li{ role:"none" }
          = link_to t("menu.tourism"), rmll_path(:heading => "info", :page => "tourism"), { role:"menuitem", tabindex:-1 }
    %li
      %a{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false", tabindex:-1 }
        = t("menu.participate")
      %ul{ role:"menu", "aria-label":t("menu.participate") }
        %li{ role:"none" }
          = link_to t("menu.volunteering"), rmll_path(:heading => "participate", :page => "volunteering"), { role:"menuitem", tabindex:-1 }
        %li{ role:"none" }
          = link_to t("menu.donate"), rmll_path(:heading => "participate", :page => "donate"), { role:"menuitem", tabindex:-1 }
        %li{ role:"none" }
          = link_to t("menu.rmlloff"), rmll_path(:heading => "participate", :page => "rmlloff"), { role:"menuitem", tabindex:-1 }
        %li{ role:"none" }
          = link_to t("menu.cfb"), rmll_path(:heading => "participate", :page => "cfb"), { role:"menuitem", tabindex:-1 }
        %li{ role:"none" }
          = link_to t("menu.cfp"), rmll_path(:heading => "participate", :page => "cfp"), { role:"menuitem", tabindex:-1 }
    %li
      %a{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false", tabindex:-1 }
        = t("menu.about")
      %ul{ role:"menu", "aria-label":t("menu.about") }
        %li{ role:"none" }
          = link_to t("menu.libre"), rmll_path(:heading => "about", :page => "libre"), { role:"menuitem", tabindex:-1 }
        %li{ role:"none" }
          = link_to t("menu.history"), rmll_path(:heading => "about", :page => "history"), { role:"menuitem", tabindex:-1 }
        %li{ role:"none" }
          = link_to t("menu.sponsors"), rmll_path(:heading => "about", :page => "sponsors"), { role:"menuitem", tabindex:-1 }
        %li{ role:"none" }
          = link_to t("menu.organisers"), rmll_path(:heading => "about", :page => "organisers"), { role:"menuitem", tabindex:-1 }
        %li{ role:"none" }
          = link_to t("menu.legal"), rmll_path(:heading => "about", :page => "legal"), { role:"menuitem", tabindex:-1 }
        %li{ role:"none" }
          = link_to t("menu.conduct_code"), rmll_path(:heading => "about", :page => "conduct_code"), { role:"menuitem", tabindex:-1 }
        %li{ role:"none" }
          = link_to t("menu.site_map"), rmll_path(:heading => "about", :page => "site_map"), { role:"menuitem", tabindex:-1 }

    %li#separated
      %a{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false", tabindex:-1 }
        = t("menu.network")
      %ul{ role:"menu", "aria-label":t("menu.network") }
        %li{ role:"none" }
          = link_to "Mastodon", "https://mamot.fr/@rmll2018", { role:"menuitem", tabindex:-1 }
        %li{ role:"none" }
          = link_to "Liste de diffusion", "https://listes2018.rmll.info/subscribe/presse", { role:"menuitem", tabindex:-1 }
        %li{ role:"none" }
          = link_to "IRC #rmll-2018", "https://webchat.freenode.net/", { role:"menuitem", tabindex:-1 }
    %li
      %a{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false", tabindex:-1, "aria-label":t("menu.lang") }
        = I18n.locale.upcase
      %ul{ role:"menu", "aria-label":t("menu.lang")  }
        %li{ role:"none" }
          = link_to "FR", params.permit(:heading, :page, :sub).merge(:locale => :fr), { role:"menuitem", tabindex:-1, "aria-label":t("menu.fr") }
        %li{ role:"none" }
          = link_to "EN", params.permit(:heading, :page, :sub).merge(:locale => :en), { role:"menuitem", tabindex:-1, "aria-label":t("menu.en") }
    %li{ role:"none" }
      = link_to t("menu.connection"), admin_path, { id:"connect", role:"menuitem", tabindex:-1 }
