$color-main: #8400ff;
$color-second: #b6ffaa;
$color-dark: #0f0f0f;
$color-dark-select: #272727;
$color-light: #d5d5d5;
$color-cli: #00ffa5;
$color-black: black;
$color-white: white;

$root-font-size: 0.8em;
$terminal-line-height: 1.3rem;

$halftone-bg: asset-data-url("halftone-bg.png");
$halftone-nav: asset-data-url("halftone-nav.png");
$halftone-window: asset-data-url("halftone-window.png");

$border: 2px solid $color-black;
$border-rad: 4px;
$border-rad-button: 0.5rem;

$color-grey-medium: #b3b3b3;
$color-shadow: rgba(100,100,100,0.3);
$color-grey-lighter: #f0f0f0;
$color-grey-darker: #a8a8a8;
$color-grey-shadow: #4d4d4d;

$blue: #009cff;
$pink: #ffdaff;
$orange: #ffda00;
$yellow: #ffffaa;
$yellow-flash: #ffff00;
$red: #ff0000;
$cyan: #6dffff;

$font-mono: "Space Mono", monospace;
$font-sans: "Open Sans", sans-serif;
$font-pixel: "Mister Pixel", monospace;

@mixin screen() {
  @media (min-width: 730px) { @content; }
}

@mixin phone() {
  @media (max-width: 729px) { @content; }
}

@mixin pixel-bg($link) {
  background-image: $link;
  image-rendering: pixelated;
}

// keep that for v2 ?
@mixin simple_bar($title) {
  height: 2rem;
  line-height: 1.8rem;
  width: 100%;
  background-color: white;
  border: 2px solid black;
  color: black;

  &:before {
    content: $title;
    position: absolute;
    margin-left: 0.5rem;
  }
  &:after {
    content: "x";
    position: relative;
    right: calc(-100% + 1rem);
  }
}

@mixin ugly_bar($title, $color, $shadow-op:0.3) {
  .bar {
    background-color: $color;
    height: 1.5rem;
    width: 100%;
    border-bottom: 1px solid black;
    border-radius: 4px;

    &:before {
      content: $title;
      height: 1rem;
      line-height: 1.25rem;
      z-index: 1;
      position: relative;
      display: flex;
      justify-content: center;
    }

    .effect {
      position: relative;
      top: calc(40% - 1rem);
      height: 60%;
      background-color: rgba(100,100,100,$shadow-op);;
      border: 1px solid $color;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
}

@mixin ugly_button($color, $color-hover, $shadow-op:0.2) {
  button {
    height: 2rem;
    padding: 0 1rem;
    margin-top: 1rem;
    background-color: $color;
    border: 1px solid black;
    border-radius: 3px;

    &:hover, &:focus {
      background-color: $color-hover;
      .effect {
        border-color: $color-hover;
      }
    }

    span {
      position: relative;
      top: -1rem;
      font-weight: bold;
    }

    .effect {
      position: relative;
      top: calc(40%); left: -1rem;
      height: 60%; width: calc(100% + 2rem);
      background-color: rgba(100,100,100,$shadow-op);
      border: 1px solid $color;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
}
