section {
  overflow: auto;

  &.fullscreen {
    height: 100%;
    width: 100%;
  }

  &.halfscreen {
    height: 100%;
    width: 50%;

    @media (max-width: 1150px) {
      width: 100%;
    }
  }
}

.split {
  width: 100%;

  @include screen {
    display: flex;
    height: calc(100% - 3rem);
    overflow: hidden;
  }

}

.bar {
  width: 100%; height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: $border;
  background-color: $color-white;
  font-family: $font-mono;
  font-weight: bold;
  line-height: $terminal-line-height;

  * {
    border: $border;
    border-radius: $border-rad;
    padding: 0rem 1.5rem;
  }

  span {
    margin: auto;
    background-color: $color-black;
    color: $color-white;
  }

  a {
    margin-right: 0.5rem;
    color: $color-black;
    background-color: $color-white;
    text-decoration: none;
  @media (max-width: 450px) {
    display: none;
  }

    &:hover, &:focus {
      color: $color-white;
      background-color: $color-black;
      border-color: $color-black;
    }
  }
}

.content {
  padding: 2rem;

  a {
    color: $color-light;
  }

  .color {
    color: $cyan;
    font-weight: bold;
  }
}

.invert {
  .bar {
    color: $color-white;
    @include pixel-bg($halftone-window);
    // background-color: $color-light;
    border-color: $color-white;

    * {
      border-color: $color-white;
    }

    span {
      color: $color-black;
      background-color: $color-white;
    }
  }

  .content {
    background-color: $color-white;
    color: $color-black;
    a {
      color: $color-black;
    }
  }
}
