@import "var";
@import "reset";

:root {
  font-family: $font-mono;
  font-size: $root-font-size;
  font-variant-ligatures: none;
}

html, body, main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  @include pixel-bg($halftone-bg);
  background-color: $color-main;
}

main {
  height: calc(100% - 2rem);
  overflow: hidden;
}

@import "menu";
@import "window";
@import "specific/home";
@import "specific/terminal";
@import "specific/popup";
@import "specific/spreadsheet";
@import "specific/call";
@import "specific/pdf";
@import "specific/map";

.noselect {
  -webkit-touch-callout: none; // iOS Safari
  user-select: none;
}

.pre-wrap {
  white-space: pre-wrap;
}

.over-background {
  // WHOOPSIES
  position: absolute;

  &:not(.gallery) {
    height: calc(100% - 2rem) !important;
  }
  &.popup {
    @media (min-width: 550px) {
      height: auto !important;
    }
  }
}
.no-overflow {
  overflow: hidden;
}

@import "font-face";
