%section.halfscreen.term.mail.over-background
  - add_bar("Mail", t("rmll.participate.mail.donate"))

  .tree
    %ul
      %h1 Mailing box
      %li
        MAY 22 - from: contact [AT] listes2018.rmll.info
        = link_to t("rmll.participate.mail.volunteering"), rmll_path(:heading => "participate", :page => "volunteering")
      %li.selected
        MAY 22 - from: contact [AT] listes2018.rmll.info
        = link_to t("rmll.participate.mail.donate"), rmll_path(:heading => "participate", :page => "donate")
      %li
        MAY 22 - from: contact [AT] listes2018.rmll.info
        = link_to t("rmll.participate.mail.rmlloff"), rmll_path(:heading => "participate", :page => "rmlloff")
      %li
        APR 27 - from: contact [AT] listes2018.rmll.info
        = link_to t("rmll.participate.mail.cfb"), rmll_path(:heading => "participate", :page => "cfb")

  .content
    %ul.info
      %li Date: tue, 22 May 2018 16:45:42
      %li From: "rmll 2018 team" <contact [AT] listes2018.rmll.info>
      %li To: You
      %li
        %h2= subject= "Subject : " + t("rmll.participate.mail.donate")

    - add_text(t(".text"))

%section.fullscreen#home-section.no-select.no-overflow{ "aria-hidden":"true" }
  = render "rmll/background"
  = render "rmll/conky"
